body {
  font-family: "Alegreya Sans SC", serif;
  font-size: 20px; 
  background-image: url('../images/concrete_seamless.png');
  background-color: #f1f1f1;
}

/* animated logo */
#logo {
  animation-name: logoanimated;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes logoanimated {
  from {
    width: 50px;
    opacity: 0;
  }
  to {
    width: 425px;
    opacity: 1;
  }
}

/* GALLERY FORMATTING */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.gallery > img {
  border: 10px #50C7C7 solid;
  margin: 10px 10px 10px 10px;
  width: 300px;
}

header{
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* align-content: center;
  max-height: 200px;  */
}

/* LINKS TOP RIGHT*/

nav {
  background-color: white;
}
.nav_links {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-decoration: underline;
  /* background-color: white; */
}

.nav_item a:visited {
  color: blue;
}

/* Header text formatting */

p {
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  padding: 5 px;
  text-align: center;
}

/* FOOTER */
footer{
  padding: 30px;
}

.pricing{ 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.card { 
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 25px 0;
  flex-basis: 450px; 
}

.card > header{
  background-color: #288088;
  border: 2px solid #45ADAD;
  padding: 20px 0 20px 0; 
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  max-height: 150px; 
}

.card button {  
  background-color: #288088;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 90%;
  margin-left: 20px;
  font-size: 20px;
  border: 0;
}

.card > ul{ 
  padding-left: 5px;
  text-transform: uppercase; 
}

.card > ul li { 
  line-height: 30px;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.card h3{
  font-size: 75px;
  color: white;
  text-align: center;
  margin: auto;
}


@media screen and (min-width: 850px){
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 10;
    left: 10;
    max-height: 90px;
  }

body > header {
    position: sticky;
    top: 0px;    
}

header{
  flex-direction:row;
  justify-content:space-between;

}
body > header{
  position: sticky;
  top: 0px;
}


  .card > header {
    position: static;
    justify-content: center;
  }
  .card button { /*FIXED*/
    margin: auto;
  }

  .card { /*FIXED*/
    flex-basis: 250px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
  }

  .nav_links{ /*FIXED */
    flex-direction: row;
  }


  .card_big{ 
    -webkit-transform: scaleY(1.1);
    transform: scaleY(1.1);
    z-index: -99;}
  }
}
  @media screen and (prefers-reduced-motion){
    #logo{
      animation-name: none;
    }
  }

@media print{
  body{
    background-image: none;
  }

  nav { 
    width: 100%;
  }

  .nav_links {  
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
  }

  .card button { /*FIXED*/
    margin-left: 10px;
  }

  .card {
    border: 2px solid #45ADDD;
    flex-basis: 250px;
  }


  .gallery, #gallery{  
    display: none
  }

  .pricing {
    display: flex;
    flex-flow: nowrap;
    align-items: flex-end;
   }

  .card ul li:nth-child(odd)::before {
    list-style-type: none;
    content: '👍'; 
  }
  .card ul li:nth-child(even)::after {
    list-style-type: none;
    content: '👍';
  }
}



